@media screen and ( max-width: 960px ) {
    .board-item { float: left; width: 99%; margin: 0.5%; }
}
@media screen and ( min-width: 961px ) and ( max-width: 1200px ) {
    .board-item { float: left; width: 49%; margin: 0.5%; }
}
@media screen and ( min-width: 1201px ) {
    .board-item { float: left; width: 32%; margin: 0.5%; }
}

.board-item {
    height: 350px;
    /* border-right: 1px solid gray;
    border-bottom: 1px solid gray; */
    box-sizing: border-box;

    box-shadow: 1px 1px 3px black;
}
.board-item .row .col { height: 100%; }

.board-item.add {
    position: relative;
    border: none;
}
.board-item.add > div {
    margin: auto;
}
.board-item.add > .ready {
    width: 120px;
    height: 120px;
    margin: auto;
    
    cursor: pointer;
    border-radius: 20%;
    box-sizing: border-box;
}
.board-item.add > .ready a { 
    margin: auto; 
}
.board-item.add > .write {
    width: 80%;
    height: 80%;

    transition: all .5s ease-in-out;
}
.board-item.add > .write > .selector {
    margin-bottom: 35px;
}
.board-item.add > .write > .controller { position: absolute; bottom: 20px; width: inherit; text-align: center; }

.board-item.add:hover > .ready {
    background-color: rgb(205, 234, 244); 
}

.board-item .board-state {
    margin: 0;
    height: 2rem; 
    border-bottom: 1px solid darkgray;
}
.board-item .board-state a, 
.board-item .board-state i {
    font-size: 1.5rem!important;
}
.board-item .board-state .preloader-wrapper.small { width: 1.5rem; height: 1.5rem; }
.board-item .board-state .board-control { padding:0; text-align: center; border-left: 1px solid darkgray; }
.board-item .board-state .board-control:hover { background-color: darkgray; }
.board-item .board-state .board-control:hover a { color: white; }

.board-item .board-pagination { 
    margin: 0;
    height: 2rem;
    border-bottom: 1px solid darkgray;
}

.board-item .board-list-wrapper::-webkit-scrollbar { display: none; }
.board-item .board-list-wrapper {
    width: 100%;    
    height: calc(340px - 4rem);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.board-item .content-wrapper{
    padding: 0px;
}
.board-item .collection {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}
.board-item .collection-item {
    padding-right: 52px;
    min-height: 0!important;
    margin-bottom: 5px;
}
.board-item .collection-item:hover {
    background-color: rgba(253, 245, 230, 0.844);
}
.board-item .collection-item > .title {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    height: 2rem!important;
    text-overflow: ellipsis!important;
}
.board-item .collection-item .writer{
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}