.page-wrapper.empty .img-wrapper {
    cursor: pointer;
    width: 120px;
    height: 120px;
    padding: 10px;
    margin: auto;
    border-radius: 20%;
    box-sizing: border-box;
}
.page-wrapper.empty .img-wrapper:hover {
    background-color: lightgray;
}